# Pandas DataFrames
## Basic Bioinformatics Course VT22
<br>

<img src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png" alt="[]" width=550>

---
# Quick Intro to Pandas Series

In [ ]:
# Import Pandas library

In [ ]:
# Show Installed Pandas version

In [ ]:
# Create Series from list

apple_list = [3, 2, 0, 1]

In [ ]:
# Create Series from list - setting the name attribute

orange_list = [0, 3, 7, 2]

In [ ]:
# Set the name attribute

In [ ]:
# Create Series from dictionary

banana_dict = {'a':5.2, 'b':4, 'c':3.5, 'd':2}

In [ ]:
# Set a new index

<br>

## Pandas Documentation:
__https://pandas.pydata.org/pandas-docs/stable/reference/index.html__

<br>

In [ ]:
# Quick Documentation
pd.Series?

# -- Or --
help(pd.Series)

---
# Introduction to Pandas DataFrames

In [ ]:
# DataFrame Quick Documentation

## Create DataFrames from Lists

In [ ]:
# Let's use the apple_list
print(apple_list)

In [ ]:
# Create another one, providing index and columns

print(orange_list)

index_list = ['a', 'b', 'c', 'd']

In [ ]:
# We can also use a list of lists

print("Apples:", apple_list, "Oranges:", orange_list)


# A list that includes the Apple list and the Orange list
fruit_list1 = [ [3, 2, 0, 1], [0, 3, 7, 2] ]

# A list that includes several Apple-Orange pairs
fruit_list2 = [ [3, 0], [2, 3], [0, 7], [1, 2] ]

In [ ]:
# Add column names to the DataFrame

# Column names to be added
column_names = ["Apples", "Oranges"]

## Create DataFrames from Dictionaries

In [ ]:
# A dictionary with key the name of the fruit
fruit_dict = { "Apples": [3, 2, 0, 1], "Oranges": [0, 3, 7, 2] }

## Create DataFrames from Series

In [ ]:
# Method 1 - Series Dictionary

# Print our two fruit Series
display(apples, oranges)

# Create a dictionary of Series
series_dict = { "Apples": apples, "Oranges": oranges }

In [ ]:
# Method 2 - List of Series (Series as rows - Transpose to fix)

series_list = [apples, oranges]

In [ ]:
# Method 3 - Concatenating Series

__Hint!__ You can use either of the following annotations for `axis`:
* For Rows:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`axis=0` or `axis='rows'`
* For Columns: `axis=1` or `axis='columns'`

<img src="https://i.stack.imgur.com/dcoE3.jpg" alt="drawing" width="400" align="left"/>

---
# Create a Pandas DataFrame from a given table

__Can we create a Pandas DataFrame that looks like the following Table?__

|      | Temperature | Humidity |
|------|-------------|----------|
|__0__ | 10 | 55 |
|__1__ | 13 | 54 |
|__2__ | 15 | 59 |
|__3__ | 22 | 64 |
|__4__ | 19 | 61 |

In [ ]:
# We can create 2 Series and concatenate them into a DataFrame

In [ ]:
# We can create the DataFrame straight away, using e.g. a dictionary